@charset "utf-8";

body
{
    margin: 0px;
    padding: 0px;
    background-color:white;
    color: blue;
    font-family: Arial, Helvetica, "sans-serif";
    font-size: 18px;
    text-align: center;

}
h1
{
    margin: 0px;
    padding: 5px;
    color: white;
    font-size: 36px;
}
h2 
{
    font-size: 30px;
    color: red;
}
h3
{
    color: blue;
}
#page
{
    max-width: 800px;
    height: 570px;
    margin: 20px auto;
    padding: 30px;
    background-color: white;
    border : double 10px red
}

#header /* Styles for Heading */

{
    padding: 5px;
    background-color: blue;
    border: double 10 px red;
    text-align: center;
}

img

{
    border: double 10px red;
}
#right-column

{
    float: right;
    width: 350px;
    text-align: left;
}
#right-column h2 {font-size: 1.2rem; font-weight: bold;}
#left-column
{
    float:left; text-align:center; width:400px
}